---
# task/install_docker file for hashicorp_vault
- name: "Include ednxzu.docker_systemd_service"
  ansible.builtin.include_role:
    name: ednxzu.docker_systemd_service
  vars:
    docker_systemd_service_container_name: "vault"
    docker_systemd_service_image: "{{ hashi_vault_docker_image }}:{{ hashi_vault_version }}"
    docker_systemd_service_container_env: "{{ hashi_vault_env_variables }}"
    docker_systemd_service_flags:
      - network: host
      - volume: "{{ hashi_vault_container_volume_map }}"
      - cap-add:
          - IPC_LOCK
    docker_systemd_service_container_cmd: ["server"]
    docker_systemd_service_name: "{{ docker_systemd_service_container_name }}_container"
    docker_systemd_service_state: "{{ 'started' if hashi_vault_start_service else 'stopped'}}"
    docker_systemd_service_restart: "{{ true if hashi_vault_start_service else false}}"
