# {{ ansible_managed }}
cluster_name = "{{ hashi_vault_cluster_name }}"
api_addr = "{{ hashi_vault_api_addr }}"
cluster_addr = "{{ hashi_vault_cluster_addr }}"
ui = {{ hashi_vault_ui_enabled|lower }}
disable_mlock = {{ hashi_vault_disable_mlock|lower }}
disable_cache = {{ hashi_vault_disable_cache|lower }}

listener "tcp" {
  address = "{{ hashi_vault_tcp_listener['address'] }}"
  cluster_address = "{{ hashi_vault_tcp_listener['cluster_address'] }}"
  tls_disable = {{ hashi_vault_tcp_listener['tls_disable'] }}
  tls_disable_client_certs = {{ hashi_vault_tcp_listener['tls_disable_client_certs']|lower }}
  tls_cert_file = "{{ hashi_vault_tcp_listener['tls_cert_file'] }}"
  tls_key_file = "{{ hashi_vault_tcp_listener['tls_key_file'] }}"
}

storage "{{ hashi_vault_storage_backend_type }}" {
  path = "{{ hashi_vault_storage_backend['path'] }}"
{% if hashi_vault_storage_backend_type == "raft" %}
  node_id = "{{ hashi_vault_storage_backend['node_id'] }}"
{% for item in hashi_vault_storage_backend['retry_join']['nodes'] %}
  retry_join {
    leader_api_addr = "{{ item }}"
  }
{% endfor %}
{% elif hashi_vault_storage_backend_type == "consul" %}
  address = "{{ hashi_vault_storage_backend['address'] }}"
  scheme = "{{ hashi_vault_storage_backend['scheme'] }}"
  token = "{{ hashi_vault_storage_backend['token'] }}"
{% endif %}
}

{% if hashi_vault_consul_registration_enable and hashi_vault_storage_backend_type != "consul" %}
service_registration "consul" {
  address = "{{ hashi_vault_consul_registration['address'] }}"
  token   = "{{ hashi_vault_consul_registration['token'] }}"
}

{% endif %}
{% if hashi_vault_telemetry_enabled %}
telemetry {
  usage_gauge_period = "{{ hashi_vault_telemetry['usage_gauge_period'] }}"
  maximum_gauge_cardinality = {{ hashi_vault_telemetry['maximum_gauge_cardinality'] }}
  disable_hostname = {{ hashi_vault_telemetry['disable_hostname']|lower }}
  enable_hostname_label = {{ hashi_vault_telemetry['enable_hostname_label']|lower }}
  lease_metrics_epsilon = "{{ hashi_vault_telemetry['lease_metrics_epsilon'] }}"
  num_lease_metrics_buckets = {{ hashi_vault_telemetry['num_lease_metrics_buckets'] }}
  add_lease_metrics_namespace_labels = {{ hashi_vault_telemetry['add_lease_metrics_namespace_labels']|lower }}
  filter_default = {{ hashi_vault_telemetry['filter_default']|lower }}
  prefix_filter = [{% for item in hashi_vault_telemetry['prefix_filter'] %}"{{ item }}"{% if not loop.last %},{% endif %}{% endfor %}]
  prometheus_retention_time = "{{ hashi_vault_telemetry['prometheus_retention_time'] }}"
}

{% endif %}