# {{ ansible_managed }}
cluster_name = "{{ hashi_vault_cluster_name }}"
cluster_addr = "{{ hashi_vault_cluster_addr }}"
api_addr = "{{ hashi_vault_api_addr }}"
ui = {{ hashi_vault_ui_enabled|lower }}
disable_mlock = {{ hashi_vault_disable_mlock|lower }}
disable_cache = {{ hashi_vault_disable_cache|lower }}

listener "tcp" {
{% for item in hashi_vault_tcp_listener %}
  {{ item }} = {{ hashi_vault_tcp_listener[item]|to_hcl(indent_level=1) }}
{% endfor %}
}

storage "{{ hashi_vault_storage_backend_type }}" {
{% for item in hashi_vault_storage_backend %}
  {{ item }} = {{ hashi_vault_storage_backend[item]|to_hcl(indent_level=1) }}
{% endfor %}
{% if hashi_vault_storage_backend_type == 'raft' and hashi_vault_raft_retry_join %}
{% for item in hashi_vault_raft_retry_join %}
  retry_join = {{ item|to_hcl(indent_level=1) }}
{% endfor %}
{% endif %}
}

{% if hashi_vault_service_registration_enable and hashi_vault_storage_backend_type != 'consul' %}
service_registration "{{ hashi_vault_service_registration_type }}" {
{% for item in hashi_vault_service_registration %}
  {{ item }} = {{ hashi_vault_service_registration[item]|to_hcl(indent_level=1) }}
{% endfor %}
}

{% endif %}
{% if hashi_vault_telemetry_enable %}
telemetry {
{% for item in hashi_vault_telemetry %}
  {{ item }} = {{ hashi_vault_telemetry[item]|to_hcl(indent_level=1) }}
{% endfor %}
}

{% endif %}